@mixin callout($color) {
  background: $color;
  @include radial-gradient(lighten($color, 5), $color, $fallback: red);
  padding: 1.5em 1.5em 0.125em;
  margin-bottom: 1em;
  color: $white;
  // font-family: $typeface-condensed;
  font-size: 112.5;
  text-shadow: 0 -1px 1px darken($color, 5);

} // @mixin callout($color)

@mixin callout-rounded($color) {
  @include callout($color);
  @include border-radius(1em);
}

@mixin callout-hybrid($color) {
  @include callout($color);
  @include border-top-left-radius(1em);
  @include border-bottom-right-radius(1em);
}
