p People respond in creative ways to changes in their environment. Human resourcefulness and creativity is truly astounding.

p For our speedsters: In the early 1970s the US faced an energy crisis. To reduce gasoline consumption, President Nixon reduced the speed limits on the U.S. Interstate Highway System from 70 MPH to 55 MPH. Resourceful drivers did not want to greatly extend their travel time, so sales of CB radios went from 800,000 in 1973 to 12,500,000 in 1977. These drivers did not feel that the speed limit was reasonable, and used the newly-purchased CB radios to locate and avoid speed traps!

p By taking this course you are in a resourceful way changing your environment and your ability to get more positive incentives!
