p In making decisions, people are <strong>evaluative, maximizing,</strong> and <strong>resourceful</strong>.

h3 Evaluative

p People evaluate potential courses of action for their desirability.  Every action we take is guided by incentives.  We do something to get something or to avoid having something done to us!

p People evaluate potential courses of action for their desirability.  Every action we take is guided by incentives.  We do something to get something or to avoid having something done to us!

h3 Positive Incentives

p Positive incentives encourage us to take actions to obtain a desirable result.  These positive incentives may take many forms. Please note that many very important positive incentives do not involve money!! Click each item to learn more.

ul
  li <strong>Wealth:</strong> Wealth allows us to command the resources necessary to live and prosper. A good job, winning the lottery, making a good investment, all of these actions produce an inflow of wealth that allows us to get the good things in life. So it may be that diamonds are, in fact, a girl’s best friend.
  li <strong>Family:</strong> A mother’s love is a constant across all cultures. Humans are to an extent very focused on the group or tribe.  Actions that support the family or group are very important to us.  In academics we often see parents make great financial sacrifices for their children’s education.
  li <strong>Prestige:</strong> We are social creatures who want to be held in high regard by the humans we associate with.  One of the major benefits of taking a charitable action is the high esteem with which we are held by other people.  While the Nobel Prize, the Genius Awards of the McArthur Foundation, the Pulitzer Prize, etc. involve a cash prize, the recipients probably value the recognition more than the money.  Now, money itself is a prestige item.  Being rich, possessing positional goods such as a Picasso painting or a Bentley automobile give people standing in many communities (and generally improve their dating prospects.)
  li <strong>Self-worth:</strong> Humans seek a meaning of life beyond themselves.  For many people religion fulfills a major need in their lives.  Devoted individuals will enter religious orders as priests, monks or nuns and take vows of poverty, chastity and obedience.  Others will take on a role as minister, imam, or rabbi, careers that place major demands on their lives.  These career choices do not pay like investment banking, but do offer for those choosing them the greatest of positive incentives—personal salvation.  We also see soldiers willing to sacrifice their lives out of sense of honor and duty.

h3 Negative Incentives

p Negative incentives discourage us from taking actions, and also take many forms, for example:.

ul
  li <strong>Legal sanctions:</strong> There are laws against speeding.   If you are one of our speeders, you know that being caught could cost you some money, your driving license, and even some time in jail if you’ve gotten too many speeding tickets.  Serious offences merit more severe sanctions.  In Texas, persons convicted of capital offences can even be put to death!

  li <strong>Loss of money:</strong> Psychologists say that the pain of losing $100 is much greater than the pleasure at winning $100.  This major fact of human nature plays a large part in markets, and can explain some of the booms and busts we see, and how we view risk.

  li <strong>Social sanctions:</strong> We all want to avoid embarrassment, and will do everything we can to avoid appearing incompetent or uncool.  Think back to situations where you have been embarrassed (we all have!) and think of the steps you took to avoid a similar situation in the future.

  li <strong>Physical sanctions:</strong> The cable TV series Jackass depicts young men engaging in what could describe as risky behavior.  While their behavior may lead to increased prestige within their peer group, it often leads to the emergency room.  Most of us try to avoid physical pain from such activities, or in challenging a much larger inebriated person in a bar.
