h6 Subheader
p All human activity is shaped by human nature—a fact that many political and economic debates do not take into account. Many political, social, cultural and economic arguments occur not because of some technical details or scientific models, but rather on fundamental differences on our views of human nature. In this topic we present a view of human nature. There are certainly different explanations for human actions, but I encourage you to think of the decisions that you make throughout your life and see if what we discuss could explain how you act.
