p We play many different roles in our daily lives: student, mentor, husband, wife, significant other, worker, supervisor, family member, friend, citizen, customer, etc. In these different roles we make many decisions, and seek in these cumulative decisions to maximize our overall welfare. As the need for multiple decisions adds up we face the fundamental fact of human existence: limitations! These limitations take several forms and result in a constrained trade-offs among competing goals.
