// Colors

$white:       #ffffff;
$near-white:  darken($white, 5);
$light-grey:  darken($white, 15);
$near-black:  #384047;
$grey:        darken($white, 35);
$dark-grey:   darken($white, 50);


// Brand Palette
$orange:  #e36416;
$beige:   #afa68f;
$black:   #1a1a1a;

// Primary Palette
$yellow:  #fdb800;
$red:     #b81b42;
$blue:    #005882;
$green:   #9e9845;

// Secondary Palette
$light-beige:   #cdc6b1;
$cream:         #ffefc1;
