// Basic Elements
body {
  padding-top: $header-height + 20px;
  background: $near-white;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

p, a, h1, h2, h3, h4, h5, label {
  color: inherit;
  font-family: inherit;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  @include css-hyphens(auto);
}

hr {}

dt {
  font-weight: bold;
}

.blockquote { @include blockquote("-"); }
