// Basic Elements
body {
  padding-top: $header-height + 20px;
  background: $near-white;
  color: $near-black;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

p, a, h1, h2, h3, h4, h5, label {
  color: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  @include css-hyphens(none);
  color: inherit;
  font-family: $typeface-condensed;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {
  border-bottom: 0.0625em solid;
  padding-bottom: 0.5em;
  margin-bottom: 0.9375em;
}

p {
  @include css-hyphens(auto);
}

hr {}

dt {
  font-weight: bold;
}

blockquote {
  @include blockquote("—");
  border-left: 0.25em solid;
  padding-left: 1em;
  color: inherit;
  font-family: $typeface-serif;

  aside.pull-quote & {
    border: none;
    padding-left: 0;
  }

} // blockquote

.pull-quote {

  &:before {
    color: inherit;
    font-family: $typeface-serif;
  }

  &:after {
    color: inherit;
    font-family: $typeface-serif;
  }

} // .pull-quote

figcaption {
  color: $beige;
  font-size: 0.85em;
  margin-bottom: 1.65em;
  font-style: italic;
}

img, video, iframe {
  width: 100%;
  height: auto;
}

.accentuated-title {
    @include border-top-right-radius(5em);
    @include border-bottom-right-radius(5em);
    display: inline-block;
    background: $blue;
    border-bottom: none;
    padding: 0.5em 1.5em;
    margin-left: -1.5em;
    color: $white;
}
