// Basic Elements
body {
  padding-top: $header-height + 20px;
  background: $near-white;
  color: $near-black;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

p, a, h1, h2, h3, h4, h5, label {
  color: inherit;
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  @include css-hyphens(none);
  color: inherit;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {
  margin-bottom: 0.25em;
  color: $dark-grey;
}

p {
  @include css-hyphens(auto);
}

hr {}

dt {
  font-weight: bold;
}

blockquote {
  @include blockquote("-");
  color: $green;
  font-style: italic;
}


.pull-quote:before, .pull-quote:after {
  color: $green;
}

figcaption {
  color: $dark-grey;
  font-size: 0.85em;
  margin-bottom: 1.65em;
  font-style: italic;
}

img, video, iframe {
  width: 100%;
  height: auto;
}
