.m-book {
  margin-bottom: 2em;

  h1, h2, h3, h4, h5 {
    color: $near-black;
  }

} // .m-book

.m-book-title {
  background: $orange;
  padding: 1.5em 0 0 1.5em;
  color: $white;

  h1 {
    color: $white;
    font-family: $typeface-condensed;
    font-weight: normal;
    text-transform: uppercase;
  }

    @include media-ie($breakpoint-desktop) {
      @include border-top-radius(8px);
  } // @include media-ie($breakpoint-desktop)

} // .m-book-title

h3.m-book-header {
  width: 100%;
  padding: 1em 0.5em;
  margin-bottom: 0;
  border-bottom: 1px solid darken($white,5);
  color: $blue;
  font-family: $typeface-condensed;
  font-weight: normal;
  text-transform: uppercase;
  a { text-decoration: none; }

  &:hover {
    background: lighten($yellow, 10);
    border-bottom: 1px solid lighten($yellow, 5);
    color: $blue;
  }

  &:active, &.is-open{
    background: $yellow;
    border-bottom: 1px solid darken($yellow, 5);
    color: darken($blue, 10);
  }

} // h3.m-book-header

h4.m-book-header {
  font-weight: normal;
  &:hover { color: $blue; }
  &:active, &.is-open   { color: darken($blue, 10); }
}

.m-book-chapter {
}

.m-book-subchapter {
  padding: 1.25em 0 0.125em 0;

  a {
    text-decoration: none;
  }

  .book-subchapter--content {
    background: rgba($blue, 0.0625);
    padding: 0 1em;
    margin-bottom: 1em;

    @include media-ie($breakpoint-ipad) {
      padding: 0 2em;
    }
  }

} // .m-book-subchapter

.m-book-content {
  border-bottom: 1px solid darken($white,5);
  padding: 0 1em;

  @include media-ie($breakpoint-ipad) {
    padding: 0 2em;
  }

} //.m-book-content

