.m-book {
  margin-bottom: 2em;
}

.m-book-title {
  padding: 1.5em 1.5em 0 1.5em;
  border-top: 4px solid $orange;
  border-bottom: 1px solid $light-grey;

  // h1 { font-weight: normal; }

}

h3.m-book-header {
  width: 100%;
  padding: 1em 0.5em;
  margin-bottom: 0;
  border-bottom: 1px solid darken($white,5);
  font-weight: normal;
  a { text-decoration: none; }

  &:hover {
    background: rgba($beige, 0.125);
    border-bottom: 1px solid rgba($beige, 0.125);
    color: $blue;
  }

  &:active, &.is-open{
    background: rgba($beige, 0.25);
    border-bottom: 1px solid rgba($beige, 0.25);
    color: darken($blue, 10);
  }

} // h3.m-book-header {

h4.m-book-header {
  font-weight: normal;
  &:hover { color: $blue; }
  &:active, &.is-open   { color: darken($blue, 10); }

} // h4.m-book-header

.m-book-chapter {
}

.m-book-subchapter {
  padding: 1.25em 0 0.125em 0;

  a {
    text-decoration: none;
  }

  .book-subchapter--content {
    background: rgba($blue, 0.0625);
      padding: 0 1em;
      margin-bottome: 1em;

    @include media-ie($breakpoint-ipad) {
      padding: 0 2em;
    }
  }

} // .m-book-chapter

.m-book-content {
  border-bottom: 1px solid darken($white,5);
  padding: 0 1em;

  @include media-ie($breakpoint-ipad) {
    padding: 0 2em;
  }

} //.m-book-content
