.m-book {
  margin-bottom: 2em;

} // .m-book

.m-book-title {
  background: $orange;
  padding: 1.5em 1.5em 0 1.5em;
  color: $white;

  h1 {
    color: $white;
    font-family: $typeface-condensed;
    font-weight: normal;
    text-transform: uppercase;
  }

    @include media-ie($breakpoint-desktop) {
      @include border-top-radius(8px);
      h1 { font-size: $mega#{px}; }
  } // @include media-ie($breakpoint-desktop)

} // .m-book-title

h2.m-book-header {
  width: 100%;
  padding: 1em 0.5em;
  margin-bottom: 0;
  border-bottom: 1px solid $near-white;
  color: $blue;
  font-family: $typeface-condensed;
  font-weight: normal;
  a { text-decoration: none; }

  &:hover {
    background: lighten($light-grey, 5);
    border-bottom: 1px solid $light-grey;
    color: lighten($blue, 5);
;
  }

  &:active, &.is-open{
    background: $light-grey;
    border-bottom: 1px solid darken($light-grey, 5);
    color: darken($blue, 5);
  }

} // h3.m-book-header

h3.m-book-header {
  width: 100%;
  background: $cream;
  margin-bottom: 0;
  padding: 1em 1em;
  border-bottom: 1px solid $white;
  font-family: $typeface-condensed;
  font-weight: normal;

  &:hover {
    background: darken($cream, 5);
    border-bottom: 1px solid darken($cream, 10);
    color: lighten($blue, 5);
  }

  &:active, &.is-open {
    background: darken($cream, 10);
    border-bottom: 1px solid darken($cream, 15);
    color: darken($blue, 5);
  }

} // h4.m-book-header

.m-book-chapter {
}

.m-book-subchapter {

  a {
    text-decoration: none;
  }

  .book-subchapter--content {
    background: lighten($cream, 7.5);
    padding: 1.5em;

  } // .book-subchapter--content 

} // .m-book-subchapter

.m-book-content {
  border-bottom: 1px solid $near-white;
  padding: 1.5em;

} //.m-book-content
