[data-collapsible-toggle] {
  display: table;
  margin-right: 0.5em;
  cursor: pointer;

  &:before {
    display: table-cell;
    vertical-align: middle;
    width: 2em;
    content: '\e000';
    font-family: "fontastic";
    text-align: center;
  }

  &.is-open:before {
    content: '\e001';
  }

} // [data-collapsible-toggle]

[data-collapsible-content] {
  display: none;

  &.is-open {
    display: block;
  }

} // [data-collapsible-content]
