.m-content {

  .content-callout {
    background: $green;
    padding: 1.25em;
    border: 0.5em solid lighten($green, 10);
    color: $white;
  }

  a {
    color: $blue;
    &:hover { color: lighten($blue, 5) }
    &:active { color: darken($blue, 5) }
  }

} // .m-content
