.m-printnav {

  font-size: 0.75em;

  ul {
    padding: 0.5em;
    margin-top: 0;
    margin-bottom: 0em;
    list-style: none;
  }

  li {
    cursor: pointer;
    display: inline-block;
    color: lighten($orange, 35);

    &:first-child { margin-right: 1em; }

    &:before {
    margin-right: 0.5em;
    content: '\e003';
    font-family: "fontastic";
    }

    &:hover { color: $white; }
    &:active { color: lighten($orange, 20) }

  } // li

  a {
    text-decoration: none;
  }

  @include media-ie($breakpoint-ipad) {
    text-align: right;
    &:first-child { margin-right: 0; }
  }  // @include media-ie($breakpoint-ipad)

} // .m-printnav
