.table {
  background: lighten($near-white, 3.75);
  width: 100%;
  border-bottom: 2px solid $blue;
  border-right: 1px solid $near-white;
  border-left: 1px solid $near-white;
  margin-bottom: 1.5em;
  font-family: $typeface-serif;
  font-size: 75%;

  tbody {

    th {
      color: $blue;
    }

  } // tbody

  thead {
    border-bottom:  1px solid $near-white;

    th {
      padding: 0.25em 1em;
      color: $green;
    }

  } // thead

  tr:nth-of-type(even) {
    background: $near-white;
  }

  th {
    font-weight: bold;
  }

  td, th {
    padding: 1em;
    text-align: left;
  }

} // .table

.table-title {
  border-bottom: 2px solid $blue;
  padding-bottom: 0.25em;
  margin-bottom: 0;
  color: $blue;
} // .table-title
